.tabs-title-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tabs-title-list > div {
    padding: 1em;
}
.sk-alert {
    border: 1px solid #4500d8;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px 10px 15px 15px;
    background-color: #faf9c9;
}
.sk-alert .sk-alert-close-icon {
    border: none;
    background-color: initial;
    top: 16px;
    right: 10px;
    position: absolute;
}
[type=submit] {
    -webkit-appearance: none;
}
input:not(.untouched):invalid, input.form-invalid, textarea.form-invalid,
input[type=checkbox]:not(.untouched):invalid, input[type=checkbox].form-invalid, input.form-invalid[type=checkbox],
select.form-invalid {
    outline: 1px solid red;
}
.form-validation-message {
    color: red;
}
.sk-input-label {
    min-width: 150px;
    display: inline-block;
}
.sk-tree ul {
    list-style: none;
}
.sk-tree .sk-tree-collapsed ul {
    display: none;
}
.sk-tree li.sk-tree-collapsed:before {
    content: "+";
    margin-right: 5px;
}
.sk-tree li.sk-tree-expanded:before {
    content: "-";
    margin-right: 5px;
}
.sk-btn-primary {
    font-weight: bolder;
}
.accordion-header-active {
    font-weight: bold;
}
.accordion-header-active {
    font-weight: bold;
}
.accordion-header-active .anticon-right {
    display: none;
}
.accordion-header .anticon-down {
    display: none;
}
.accordion-header-active .anticon-down {
    display: inline;
}
.list-item-icon {
    margin-right: 10px;
}
.sk-tabs-active {
    background: #c6c6c6;
}

.sk-navbar {
    background-color: darkblue;
    background-image: none;
    color: white;
    display: none;
}

.sk-navbar-open {
    display: block;
    position: absolute;
    height: 100vh;
    width: 256px;
    left: 0;
    top: 0;
    z-index: 900;
}
.sk-navbar-open.sk-navbar-right {
    right: 0;
    top: 0;
    left: initial;
}

.sk-navbar-open.sk-navbar-top {
    right: 0;
    top: 0;
    height: 256px;
    width: 100vw;
    left: 0;
}

.sk-navbar-open.sk-navbar-bottom {
    right: 0;
    top: initial;
    bottom: 0;
    height: 256px;
    width: 100vw;
    left: 0;
    z-index: 1400;
}
.sk-navbar-open.sk-navbar-left.has-panel {
    left: 56px;
}
.sk-navbar-open.sk-navbar-right.has-panel {
    right: 56px;
}
.sk-navbar-open.sk-navbar-bottom.has-panel {
    bottom: 56px;
}
.sk-navbar-open.sk-navbar-top.has-panel {
    top: 56px;
}
.sk-navbar-panel {
    display: block;
    position: absolute;
    height: 100vh;
    width: 56px;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: darkblue;
}
.sk-navbar-panel.sk-navbar-panel-right {
    right: 0;
    left: initial;
}
.sk-navbar-panel.sk-navbar-panel-top {
    width: 100vw;
    height: 56px;
    z-index: 1100;
}
.sk-navbar-panel.sk-navbar-panel-bottom {
    width: 100vw;
    height: 56px;
    bottom: 0;
    top: initial;
    z-index: 1500;
}
.sk-selected {
    background-color: #fafafa;
}
.sk-menu-item {
    min-width: 200px;
    height: 40px;
    line-height: 40px;
}

.sk-sltabs-panels {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  background: white;
  border-radius: 3px;
  padding: 16px;
  height: 250px;
  overflow: auto;
}
.sk-sltabs-tabs {
  display: inline-flex;
  -webkit-user-select: none;
  user-select: none;
}
.sk-sltabs-tabs slot {
  display: inline-flex; /* Safari bug. Treats <slot> as a parent */
}
/* Safari does not support #id prefixes on ::slotted
   See https://bugs.webkit.org/show_bug.cgi?id=160538 */
.sk-sltabs-tabs ::slotted(*) {
  font: 400 16px/22px 'Roboto';
  padding: 16px 8px;
  margin: 0;
  text-align: center;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(#fafafa, #eee);
  border: none; /* if the user users a <button> */
}
.sk-sltabs-tabs ::slotted([aria-selected="true"]) {
  font-weight: 600;
  background: white;
  box-shadow: none;
}
.sk-sltabs-tabs ::slotted(:focus) {
  z-index: 1; /* make sure focus ring doesn't get buried */
}
.sk-sltabs-panels ::slotted([aria-hidden="true"]) {
  display: none;
}
[disabled] .sk-sltabs-tabs ::slotted(*), .sk-sltabs-tabs ::slotted([disabled]) {
  opacity: 0.4;
}

